# Using g{cc,++} 4.7 as the platform-api consumes it and the platform
# api is stuck with android's 4.7 toolchain.
Source: location-service
Section: utils
Priority: optional
Maintainer: Thomas Voß <thomas.voss@canonical.com>
Build-Depends: cmake,
               curl,
               dbus-cpp-dev,
               dbus-test-runner,
               debhelper (>= 9),
               doxygen,
               gcc-4.7,
               g++-4.7,
               geoclue-ubuntu-geoip,
               google-mock (>= 1.6.0+svn437),
               lcov,
               libboost-program-options-dev,
               libboost-system-dev,
               libdbus-1-dev,
               libgoogle-glog-dev,
               libgtest-dev,
               libiw-dev,
               libplatform-hardware-api-headers,
               libplatform-hardware-api1-dev,
               ruby-ronn,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/location-service
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/location-service/trunk
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/location-service/trunk/files

Package: libubuntu-location-service0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: location service aggregating position/velocity/heading
 updates and exporting them over dbus.
 .
 Contains the shared library needed by client applications.

Package: libubuntu-location-service-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libubuntu-location-service0 (= ${binary:Version}),
         ${misc:Depends},
Suggests: ubuntu-location-service-doc,
Description: location service aggregating position/velocity/heading
 updates and exporting them over dbus.
 .
 Contains header files required to develop clients talking to the ubuntu
 location service.

Package: ubuntu-location-service-examples
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ubuntu-location-service-doc,
Description: location service aggregating position/velocity/heading
 updates and exporting them over dbus.
 .
 Contains example service and client.

Package: ubuntu-location-service-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libubuntu-location-service-dev,
Recommends: ubuntu-location-service-examples,
Description: location service aggregating position/velocity/heading
 updates and exporting them over dbus.
 .
 Contains documentation for service and client.
